*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/
*.iml
*.apk
gradlew.bat
fastlane/report.xml
fastlane/README.md
/app/src/main/gen
Gemfile.lock